.full-page-height-vh.bg-color-purple-50.row.middle-xs.center-xs
  .col-xs-8.col-md-5.col-lg-4
    %h1 Cacmu
    %p Cooperativa de ahorro y crédito Mujeres Unidas
    .card.padding
      = react_component("Registration")
