.full-page-height-vh.bg-color-cyan-900.row.middle-xs.center-xs.color-white
  .col-xs-8.col-md-5.col-lg-4
    %h1 Cacmu
    %p Cooperativa de ahorro y crédito Mujeres Unidas
    .card.bg-color-white.padding
      = react_component("Registration")
