%ul.breadcrumb.big-top-space
  %li
    = link_to "Dashboard", root_path
  %li
    = link_to "Home", creditos_root_path
  %li.active
    Busqueda
.row.center-xs
  .col-xs-11
    %h3 Resultados de la busqueda
= render "partials/creditos/list_all_trials"