.row.center-xs
  .col-xs-11
    %h2 Ingresar Proceso
    = render 'form'

  .col-xs-6
    %h2 Actividades actuales
    %ul.list-group
      - @activities.each do |activity|
        %li.list-group-item
          = activity.name
    = link_to 'Regresar', stages_root_path, class: "btn btn-wide btn-warning"
