.row.center-xs
  .col-xs-11.col-md-4
    .card.bg-color-white.padding.big-top-space
      %h4 Manejo de permisos y vacaciones
      = link_to "Ingresar", recursos_humanos_vacaciones_path, class: "btn btn-hg btn-warning"