.row.center-xs.middle-xs
  .col-xs-11
    = react_component "BalanceSocial",
    valor_directo: @valor_directo,
    valor_distribuido: @valor_distribuido,
    total: @total,
    mes_1: @mes_1,
    mes_2: @mes_2