%nav.navbar-inverse.navbar-embossed
  .container-fluid
    .navbar-header
      %li= link_to "Inicio", root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
        - if user_signed_in?
          %li= link_to "Panel de administración", "/administracion" if current_user.admin
          %li.active= link_to "Cerrar sesion", destroy_user_session_path, method: :delete

        - else
          %li.active= link_to "Iniciar sesion", new_user_session_path