.row.center-xs.top-space
  .col-xs-12.col-md-5
    %h4
      %b.text-primary Agencia:
      = @nombre_agencia

  .col-xs-11
    = react_component 'IndicadoresSeps',
    solvencia_normativa: @solvencia_normativa,
    apalancamiento: @apalancamiento,
    liquidez: @liquidez,
    morosidad_ampliada: @morosidad_ampliada,
    covertura_provision: @covertura_provision,
    relacion_productividad: @relacion_productividad,
    roa: @roa,
    eficiencia_institucional: @eficiencia_institucional,
    grado_absorcion_mf: @grado_absorcion_mf,
    tasa_activa: @tasa_activa,
    tasa_pasiva_general: @tasa_pasiva_general,
    roe: @roe,
    year: @year,
    last_year: @year