.row.center-xs.middle-xs
  .col-xs-12.col-md-5
    %h4
      %b.text-primary Agencia:
      = @nombre_agencia

  .col-xs-11
    = react_component "IndicadoresParent",
    activos: @activos,
    fondos: @fondos,
    recerva_prestamo: @recerva_prestamo,
    pasivos: @pasivos,
    obligaciones: @obligaciones,
    deposito_vista: @deposito_vista,
    dpf_cesantia: @dpf,
    certificados_aportacion: @certificados_aportacion,
    ingresos_totales: @ingresos_totales,
    intereses_descuentos: @intereses_descuentos,
    operaciones_interfinancieras: @operaciones_interfinancieras,
    intereses_inversiones: @intereses_inversiones,
    intereses_cartera_credito: @intereses_cartera_credito,
    ingresos_servicio: @ingresos_servicio,
    otros_ingresos: @otros_ingresos,
    gastos_totales: @gastos_totales,
    gastos_financieros: @gastos_financieros,
    intereses_causados: @intereses_causados,
    gastos_provision: @gastos_provision,
    gastos_operacionales: @gastos_operacionales,
    gastos_personal: @gastos_personal,
    caja_bancos: @caja_bancos,
    cartera_bruta: @cartera_bruta,
    cartera_bruta_microcredito: @cartera_bruta_microcredito,
    cartera_riesgo: @cartera_riesgo,
    patrimonio: @patrimonio
