.row.center-xs
  .col-xs-11.col-xs-offset-1
    = react_component 'CreditosPorVencer',
    firstWeek: @firstWeek,
    secondWeek: @secondWeek,
    thirdWeek:@thirdWeek,
    fourthWeek:@fourthWeek,
    firstDataWeek: @firstHash,
    firstArrayDates: @firstArrayDates,
    secondDataWeek: @secondHash,
    secondArrayDates: @secondArrayDates,
    thirdDataWeek: @thirdHash,
    thirdArrayDates: @thirdArrayDates,
    fourthDataWeek: @fourthHash,
    fourthArrayDates: @fourthArrayDates;
