.row
  .col-xs-11.col-md-6.col-md-offset-3
    %h4.text-primary Ingresar un nuevo empleado

    = render 'form'

.row.center-xs.big-top-space
  .col-xs-12
    = link_to 'Listado de empleados', recursos_humanos_vacaciones_path, class: "btn btn-info"
